# Copyright 2022 Lingfei Kong <colin404@foxmail.com>. All rights reserved.
# Use of this source code is governed by a MIT style
# license that can be found in the LICENSE file. The original repo for
# this file is https://github.com/superproj/onex.
#

# 有：wget, telnet, ping
apiVersion: apps/v1
kind: Deployment
metadata:
  name: busybox
spec:
  replicas: 1
  selector:
    matchLabels:
      app: busybox
  template:
    metadata:
      labels:
        app: busybox
    spec:
      restartPolicy: Always
      containers:
        - name: busybox
          image: busybox
          command: ["sleep", "infinity"]
          readinessProbe:
            exec:
              command: ["false"]
            initialDelaySeconds: 5
            periodSeconds: 10
